{% assign locale = include.locale | default: site.locale %}
{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html locale=locale %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html locale=locale %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html locale=locale %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<script src="{{ '/assets/js/splide.min.js' | relative_url }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elms = document.getElementsByClassName('splide');
    
    for (var i = 0; i < elms.length; i++) {
      var config = elms[i].dataset;
      var intervalVal = parseInt(config.sInterval);

      new Splide(elms[i], {
        type        : config.sType,
        speed       : parseInt(config.sSpeed),
        // interval이 0보다 크면 autoplay 활성화
        autoplay    : intervalVal > 0,
        interval    : intervalVal,
        pauseOnHover: true,
        drag        : true,
        snap        : true,
        rewind      : true,
      }).mount();
    }
  });
</script>
