<div class="quoteMachine">
  <div class="{% if include.align == 'center' %}theQuote{% else %}theQuoteLeft{% endif %}">
    <blockquote><span class="quotationMark quotationMark--left"></span>
      {% if include.content %}
        {% if include.content.first %}
          {%- for line in include.content -%}
            {{ line }}<br/>
          {%- endfor -%}
        {% else %}
          {{ include.content }}
        {% endif %}
      {% endif %}
      <span class="quotationMark quotationMark--right"></span></blockquote>
  </div>
  {% if include.author %}
    <div class="quoteAuthor">
      - {{ include.author }}
    </div>
  {% endif %}
</div>