<div class="quoteMachine">
  <div class="{% if include.align == 'center' %}theQuote{% else %}theQuoteLeft{% endif %}">
    <blockquote><span class="quotationMark quotationMark--left"></span>
      {% if include.content %}
        {% if include.content.first %}
          {%- for line in include.content -%}
            {{ line | markdownify | strip_newlines }}{% unless forloop.last %}<br/>{% endunless %}
          {%- endfor -%}
        {% else %}
          {% assign lines = include.content | split:"|" %}
          {%- for line in lines -%}
            {{ line | markdownify | remove: '<p>' | remove: '</p>' }}{% unless forloop.last %}<br/>{% endunless %}
          {%- endfor -%}
        {% endif %}
      {% endif %}
      <span class="quotationMark quotationMark--right"></span></blockquote>
  </div>
  <div class="quoteAuthor">
    {% if include.author %}
      - {{ include.author }}
    {% else %}
      {{ "&nbsp;" }}
    {% endif %}
  </div>
</div>