<div id="recon-box-{{ include.url | slugify }}"></div>

<script>
(function() {
  const container = document.getElementById('recon-box-{{ include.url | slugify }}');
  if (container) {
    const boxHtml = `
      <div class="bluebox-recon">
        <p>
          <span>
            <b>
              <a href="{{ include.url }}" target="_blank">{{ include.link_text }}</a>{{ include.message }}
            </b>
          </span>
        </p>
      </div>`;
    container.innerHTML = boxHtml;
  }
})();
</script>
