<div id="recon-box-{{ include.url | slugify }}"></div>

<script>
(function() {
  const target = document.getElementById('recon-box-{{ include.url | slugify }}');
  if (target) {
    const html = `
      <div class="bluebox-recon">
        <p>
          <span>
            <b>
              <a href="{{ include.url }}" target="_blank">{{ include.link_text }}</a>{{ include.message }}
            </b>
          </span>
        </p>
      </div>`;
    target.innerHTML = html;
  }
})();
</script>

<!-- div class="bluebox-recon">
  <p>
    <span>
      <b>
        <a href="{{ include.url }}" target="_blank">{{ include.link_text }}</a><span style="display:none;">.</span>{{ include.message }}
      </b>
    </span>
  </p>
</div -->