<section class="splide" aria-label="Image Slider">
  <div class="splide__track">
    <ul class="splide__list">
      {% assign images = include.images | split: "," %}
      {% for img in images %}
      <li class="splide__slide" style="text-align: center;">
        <img src="{{ img | strip }}" style="max-height: 500px; width: auto; margin: 0 auto;">
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<style>
  .splide { margin-bottom: 2rem; }
  .splide__slide img { border-radius: 5px; }
</style>
