/* ===========================================================
   markdown 내에서 <div> 태그 등을 통해 구현했던 내용들에서
   <div> 태그를 없애기 위해 만든 커스텀 스타일
   =========================================================== */

/*****************
 * 다운로드 박스
 *****************/

 .download-box {
  text-align: center;
  font-size: 0.95em!important;
  margin: 0.8em 0!important;   /* 위아래 여백 */
  line-height: 1.2;  /* 줄 간격 조금 붙임 */
}

.password {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}


/******************
 * 배경색 별 박스
 ******************/

/* 단일 문단 박스 */
.bluebox-gray {
  padding: 0.8em 10px;
  margin-bottom: 1.2em;
  font-size: 0.95em;
  background-color: #eeeeee;
  border: 1px dashed #c1c1c1;
}

/* 여러 문단 박스 */
blockquote.bluebox-gray-blocks {
  padding: 0.8em 10px;
  margin-bottom: 1.2em;
  font-size: 0.95em;
  background-color: #eeeeee;
  border: 1px dashed #c1c1c1;

  /* blockquote 기본 스타일 제거 */
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-style: normal !important;
  color: inherit !important;
}

/* 리스트 스타일 */
ul.bluebox-gray,
ol.bluebox-gray,
ul.bluebox-gray-blocks,
ol.bluebox-gray-blocks {
  margin: 0;
  padding-left: 1.2em !important;
  list-style-position: inside !important;
}

.bluebox-gray li,
.bluebox-gray-blocks li {
  margin-bottom: 0.4em;
}