/* ===========================================================
   markdown 내에서 <div> 태그 등을 통해 구현했던 내용들에서
   <div> 태그를 없애기 위해 만든 커스텀 스타일
   =========================================================== */

/*****************
 * 다운로드 박스
 *****************/

 .download-box {
  text-align: center;
  font-size: 0.95em!important;
  margin: 0.8em 0!important;   /* 위아래 여백 */
  line-height: 1.2;  /* 줄 간격 조금 붙임 */
}

.password {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}


/******************
 * 배경색 별 박스
 ******************/

/* 공통 박스 스타일 */
@mixin bluebox-base {
  padding: 0.8em 10px;
  margin-bottom: 1.2em;
  font-size: 0.92em;
}

/* blockquote 기본 스타일 제거 */
@mixin bluebox-blockquote-clean {
  margin-left: 0 !important;   /* 기본 들여쓰기 제거 */
  padding-left: 0 !important;  /* 내부 여백 제거 */
  margin: 0 0 1.2em 0;
  font-style: normal;
}

/* 색상별 스타일 */
@mixin bluebox-color($bg, $border) {
  background-color: $bg;
  border: 1px dashed $border;
}

/* 회색 박스 */
.bluebox-gray {
  @include bluebox-base;
  @include bluebox-color(#eeeeee, #c1c1c1);
}

/* 파란색 박스 */
.bluebox-blue {
  @include bluebox-base;
  @include bluebox-color(#e6f0ff, #99c2ff);
}

/* 빨간색 박스 */
.bluebox-red {
  @include bluebox-base;
  @include bluebox-color(#ffe6e6, #ff9999);
}

/* 리스트 */
ul[class^="bluebox-"],
ol[class^="bluebox-"],
[class^="bluebox-"] ul,
[class^="bluebox-"] ol {
  margin: 0;
  padding-left: 2em; /* 번호 영역 확보 */
  list-style-position: outside; /* 번호를 li 바깥에 표시 */
}

/* li 항목 */
[class^="bluebox-"] li {
  margin-bottom: 0.4em;
  text-indent: -1.4em; /* 첫 줄은 번호 옆으로 당김 */
  padding-left: 1.6em; /* 전체 들여쓰기 */
}

/* 문단 */
[class^="bluebox-"] p {
  margin: 0 0 0.25em 0;
  line-height: 1.5;
  font-size: 0.95em;
}

/* 리스트, 문단의 글자 크기는 별도로 지정 */
/* 1. 문단의 폰트 크기 */
[class^="bluebox-"] p {
  font-size: 0.95em;
}

/* 2. ul 안의 li 항목 폰트 크기 */
ul[class^="bluebox-"] li,
[class^="bluebox-"] ul li {
  font-size: 0.95em;
}

/* 3. ol 안의 li 내부 p의 폰트 크기 (p보다 구체적이므로 우선 적용) */
[class^="bluebox-"] ol li p,
ol[class^="bluebox-"] li p {
  font-size: 0.95em;
  margin: 0;
}
