/* ==========================================================================
   markdown 내에서 <div> 태그 등을 통해 구현했던 내용들에서
   <div> 태그를 없애기 위해 만든 커스텀 스타일
   ========================================================================== */

/**
 * 다운로드 박스
 */

.download-box {
  text-align: center;   /* 가운데 정렬만 */
  font-size: 0.95em;    /* 글자 크기만 조금 줄임 */
  margin-bottom: 1.2em; /* 아래쪽 여백 */
}

.password {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
