/* ==========================================================================
   markdown 내에서 <div> 태그 등을 통해 구현했던 내용들에서
   <div> 태그를 없애기 위해 만든 커스텀 스타일
   ========================================================================== */

/**
 * 다운로드 박스
 */

 .download-box {
  text-align: center;
  font-size: 0.95em;
  margin: 0.8em 0;   /* 위아래 여백 */
  line-height: 1.2;  /* 줄 간격 조금 붙임 */
}

.password {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
