/* ===========================================================
   markdown 내에서 <div> 태그 등을 통해 구현했던 내용들에서
   <div> 태그를 없애기 위해 만든 커스텀 스타일
   =========================================================== */

/*****************
 * 다운로드 박스
 *****************/

 .download-box {
  text-align: center;
  font-size: 0.95em!important;
  margin: 0.8em 0!important;   /* 위아래 여백 */
  line-height: 1.2;  /* 줄 간격 조금 붙임 */
}

.password {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

/*****************
 * 각주 영역
 *****************/

.footnotes
{
    font-size: 0.92em;
}

/**************************
 * YouTube 영상 주석 영역
 **************************/

.YouTube-note {
  display: block;
  text-align: center;
  font-size: .8rem!important;
  color: grey!important;
  margin: -0.5em 0 0 0!important;      /* 위쪽으로 붙임 여백 */
}

/********************************
 * PostIt / 친효스킨에서 빌려옴
 ********************************/

div.rgyPostIt {
  position: relative;
  display: inline-block;
  padding: 20px 45px 20px 15px;
  margin: 5px 0;
  border: 1px solid #f8f861;
  border-left: 30px solid #f8f861;
  border-bottom-right-radius: 60px 10px;
  font-family: "NanumPen", "Noto Sans Kr", sans-serif;
  font-size: 27px;
  color: #555;
  word-break: break-all;
  background: #ffff88;
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 35px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt:hover {
  border-bottom-right-radius: 75px 30px;
}

div.rgyPostIt:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

div.rgyPostIt > p {
  padding: 0 !important;
  margin: 0.5em 0;
}

div.rgyPostIt > p::before {
  content: "\f198";
  margin-right: 7px;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
}

div.rgyPostIt > p > a {
  color: #555;
}

/******************
 * 배경색 별 박스
 ******************/

/* 공통 박스 스타일 (내부용) */
@mixin bluebox-base {
  padding: 0.8em 10px;
  margin-bottom: 1.2em;
  font-size: 0.92em;
}

/* blockquote 기본 스타일 제거 (내부용) */
@mixin bluebox-blockquote-clean {
  margin-left: 0 !important;   /* 기본 들여쓰기 제거 */
  padding-left: 0 !important;  /* 내부 여백 제거 */
  margin: 0 0 1.2em 0;
  font-style: normal;
}

/* 색상별 스타일 (내부용) */
@mixin bluebox-color($bg, $border) {
  background-color: $bg;
  border: 1px dashed $border;
}

/* 리스트 (내부용) */
ul[class^="bluebox-"],
ol[class^="bluebox-"] {
  margin: 0;
  padding-left: 2.2em; /* 번호 영역 확보 */
  list-style-position: outside; /* 번호를 li 바깥에 표시 */
}

/* li 항목 (내부용) */
[class^="bluebox-"] li {
  margin-bottom: 0.3em;
  text-indent: 0.0em; /* 첫 줄은 번호 옆으로 당김 */
  padding-left: 0.7em; /* 전체 들여쓰기 */
  font-size: 0.95em;
}

/* 문단 (내부용) */
[class^="bluebox-"] p {
  margin: 0 0 0.25em 0;
  line-height: 1.5;
  font-size: 0.95em;
}

/* nesting 된 경우 너무 작아지는 거 방지 (내부용) */
[class^="bluebox-"] li ul li
{
  font-size: 1.0em;
  margin-left: -1.0em;
}


/* 회색 박스 */
.bluebox-gray {
  @include bluebox-base;
  @include bluebox-color(#eeeeee, #c1c1c1);
}

/* history용 아주 옅은 회색 박스 */
.bluebox-history {
  @include bluebox-base;
  background: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 0)
  );
  border: transparent;
}

/* 파란색 박스 */
.bluebox-blue {
  @include bluebox-base;
  @include bluebox-color(#DBE8FB, #79A5E4);
}

/* 노란색 박스 */
.bluebox-yellow {
  @include bluebox-base;
  @include bluebox-color(#fefeb8, #f3c534);
}

/* 빨간색 박스 */
.bluebox-red {
  @include bluebox-base;
  @include bluebox-color(#fedec7, #fe8943);
}

/* 투명 박스 */
.bluebox-transparent {
  @include bluebox-base;
  @include bluebox-color(transparent, #c1c1c1);
}

/* 새 버전 알림 박스 */
.bluebox-newversion {
  @include bluebox-base;                // 공통 박스 기본 스타일
  @include bluebox-color(#dbe8fb, #79a5e4); // 색상 믹스인으로 배경/테두리 지정
  text-align: center;                   // 텍스트 가운데 정렬
  font-size: 1.111em!important;         // 글자 크기 조정
  font-weight: bold!important;          // 굵게 표시
}

/* 스포일러 경고 박스 */
.bluebox-spoiler {
  @include bluebox-base;                // 공통 박스 스타일
  @include bluebox-color(#fedec7, #fe8943); // 배경색과 테두리 색상
  text-align: center;                   // 텍스트 가운데 정렬
  color: #980000!important;
  font-size: 1.222em!important;
  font-weight: bold!important;
}
