/*********************************************************
 * _boxes.scss / 박스 스타일용 scss
 * =======================================================
 * <div> 태그를 markdown으로 구현하기 위한 커스텀 스타일
 * assets/css/main.scss 에서 import
 * 구성: [배경색 별 박스, quoteMachine, PostIt]
 *********************************************************/

/***---------------------------------------------------
 * 배경색 별 박스
 * ----------------------------------------------------
 * 배경색에 따른 박스 스타일을 정의
 * 실제로 markdown에서 적용하기 위한 영역과
 * 내부적으로 정의되는 영역으로 구분됨
 ***---------------------------------------------------*/

/* ---------------------------------------------------
 * 내부용 스타일들
 * --------------------------------------------------- */

/* 공통 박스 스타일 */
@mixin bluebox-base {
  padding: 0.8em 10px;
  margin-bottom: 1.2em;
  font-size: 0.92em;
}

/* 색상별 스타일 */
@mixin bluebox-color($bg, $border) {
  background-color: $bg;
  border: 1px dashed $border;
}

/* 리스트 */
ul[class^="bluebox-"],
ol[class^="bluebox-"] {
  margin: 0;
  padding-left: 2.2em; /* 번호 영역 확보 */
  list-style-position: outside; /* 번호를 li 바깥에 표시 */
}

/* li 항목 */
[class^="bluebox-"] li {
  margin-bottom: 0.3em;
  text-indent: 0.0em; /* 첫 줄은 번호 옆으로 당김 */
  padding-left: 0.7em; /* 전체 들여쓰기 */
  font-size: 0.95em;
}

/* 문단 */
[class^="bluebox-"] p {
  margin: 0 0 0.25em 0;
  line-height: 1.5;
  font-size: 0.95em;
}

/* nesting 된 경우 너무 작아지는 거 방지 */
[class^="bluebox-"] li ul li
{
  font-size: 1.0em;
  margin-left: -1.0em;
}

/* ---------------------------------------------------
 * 실제 적용을 위한 색상별 박스
 * ----------------------------
 * {: .bluebox-*} 로 사용
 * --------------------------------------------------- */

/* 회색 박스 */
.bluebox-gray {
  @include bluebox-base;
  @include bluebox-color(#eeeeee, #c1c1c1);
}

/* 파란색 박스 */
.bluebox-blue {
  @include bluebox-base;
  @include bluebox-color(#DBE8FB, #79A5E4);
}

/* 노란색 박스 */
.bluebox-yellow {
  @include bluebox-base;
  @include bluebox-color(#fefeb8, #f3c534);
}

/* 오렌지색 박스 */
.bluebox-orange {
  @include bluebox-base;
  @include bluebox-color(#fedec7, #fe8943);
}

/* 분홍색 박스 */
.bluebox-pink {
  @include bluebox-base;
  @include bluebox-color(#FFE4F4, #E38FBC);
}

/* 초록색 박스 */
.bluebox-green {
  @include bluebox-base;
  @include bluebox-color(#caeece, #80b888);
}

/* 갈색 박스 */
.bluebox-brown {
  @include bluebox-base;
  @include bluebox-color(#E6D8C9, #B4997E);
}

/* 투명 박스 */
.bluebox-transparent {
  @include bluebox-base;
  @include bluebox-color(transparent, #c1c1c1);
}

/* ---------------------------------------------------
 * 실제 적용을 위한 색상별 박스
 * --------------------------------------------------- */

/* 새 버전 알림 박스, bluenlive/new-version.html 에서 사용 */
.bluebox-newversion {
  @include bluebox-base;                // 공통 박스 기본 스타일
  @include bluebox-color(#dbe8fb, #79a5e4); // 색상 믹스인으로 배경/테두리 지정
  text-align: center;                   // 텍스트 가운데 정렬
  font-size: 1.111em!important;         // 글자 크기 조정
  font-weight: bold!important;          // 굵게 표시
}

/* 스포일러 경고 및 빡칠 때 박스, {: .bluebox-spoiler} 로 사용 */
.bluebox-spoiler {
  @include bluebox-base;                // 공통 박스 스타일
  @include bluebox-color(#fedec7, #fe8943); // 배경색과 테두리 색상
  text-align: center;                   // 텍스트 가운데 정렬
  color: #980000!important;
  font-size: 1.222em!important;
  font-weight: bold!important;
}

/* history용 아주 옅은 회색 박스, {: .bluebox-history} 로 사용 */
.bluebox-history {
  @include bluebox-base;
  background: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 0)
  );
  border: transparent;
}

/* 전 블로그 재구성 알림 박스, bluenlive/reconstruction.html 에서 사용 */
.bluebox-recon {
  @include bluebox-base;
  @include bluebox-color(#e7fdb5, #9fd331);
  margin-bottom: 2em;

  p {
    text-align: center;
    margin: 0.4em;

    span {
      font-size: 1.25em;

      b {
        a {
          color: #022e51!important;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


/***---------------------------------------------------
 * quoteMachine
 * ----------------------------------------------------
 * https://codepen.io/cam5/pen/ZpaRWO
 ***---------------------------------------------------*/

.quoteMachine{
  margin: 0 auto 0 auto;
  padding: 0 60px;
  border-radius: 5px;
  background-color: white;
}

.quoteMachine blockquote{
  border-left: none;
  margin-bottom: 0.1em;
}

.theQuote{
  text-align: center;
  font-size: 30px;
  color: rgb(44, 62, 80);
}

.theQuoteLeft{
  text-align: left;
  font-size: 30px;
  color: rgb(44, 62, 80);
}

.quoteAuthor{
  text-align: right;
  font-size: 20px;
  color: rgb(44, 62, 80);
  margin-top: -0.1em;
  margin-bottom: 1.5em;
}

.quotationMark {
  position: relative;
}

.quotationMark--left::before,
.quotationMark--right::before {
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  top: -15px;
}

.quotationMark--left::before { 
  content:"\201C"; 
  left: -45px;

}
.quotationMark--right::before { 
  content:"\201D"; 
  right: -45px;
}

h1.page__title a, h2.archive__item-title a {
  font-family: $title-san-serif;
}

.fluid-width-video-wrapper {
  margin: 1em 0!important;
}

h2.archive__item-title a {
  &:hover {
    text-decoration: none;
  }
}

.MathJax_Display {
  text-align: initial!important;
}


/***---------------------------------------------------
 * PostIt
 * ----------------------------------------------------
 * 친효스킨에서 빌려옴
 ***---------------------------------------------------*/

div.rgyPostIt {
  position: relative;
  display: inline-block;
  padding: 15px 45px 15px 15px;
  margin: 5px 0 1.2em 0;
  border: 1px solid #f8f861;
  border-left: 30px solid #f8f861;
  border-bottom-right-radius: 60px 10px;
  font-family: "NanumPen", "Noto Sans Kr", sans-serif;
  font-size: 27px;
  color: #555;
  word-break: break-all;
  background: #ffff88;
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 35px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt:hover {
  border-bottom-right-radius: 75px 30px;
}

div.rgyPostIt:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

div.rgyPostIt > p {
  padding: 0 !important;
  margin: 0.5em 0;
}

div.rgyPostIt > p::before {
  content: "\f198";
  margin-right: 7px;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
}

div.rgyPostIt > p > a {
  color: #555;
}

/* 테스트 */

.qa-question {
  background: #fffbe6; /* 연한 노란색 */
  border-left: 4px solid #f5c518; /* 강조 색 */
  padding: 12px 16px;
  margin-bottom: 1.2em;
  border-radius: 6px;
  font-weight: 500;
}

.qa-answer {
  background: #f0f4ff; /* 연한 파랑 */
  border: 1px solid #c1c1c1;
  padding: 12px 16px;
  margin-bottom: 1.2em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

