/*********************************************************
 * _tooltip_popup.scss / 각주 툴팁 스타일용 scss
 * =======================================================
 * 각주 툴팁 스타일을 정의하는 부분
 * 해당 기능은 _includes/head.html 에서 정의된 스크립트에 의해 동작함
 * assets/css/main.scss 에서 import
 *********************************************************/

 .tooltip-popup {
  position: absolute;
  background: #fef6e4;
  color: #333;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 1.1em;
  line-height: 1.6;
  white-space: pre-line;
  max-width: 90vw;
  min-width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

