/*********************************************************
 * _tooltip_popup.scss / 각주 툴팁 스타일용 scss
 * =======================================================
 * 각주 툴팁 스타일을 정의하는 부분
 * 해당 기능은 _includes/head.html 에서 정의된 스크립트에 의해 동작함
 * assets/css/main.scss 에서 import
 *********************************************************/

 .footnote-tooltip {
  position: relative;
  color: #007acc;
  text-decoration: underline dotted;
  cursor: default; /* 물음표 커서 제거 */
}

.footnote-tooltip:hover::after {
  content: attr(data-tooltip); /* title 대신 data-tooltip 사용 */
  position: absolute;
  background: #222;
  color: #f9f9f9;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.9em;
  line-height: 1.4;
  white-space: normal;
  width: max-content;
  max-width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  z-index: 100;
}

