---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="bluenlive" data-description="Support me on Buy me a coffee!" data-message="간편하게 커피값 후원하기" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script>
      (function() {
        const content = document.querySelector('.initial-content'); 
        if (!content) return;
      
        const walker = document.createTreeWalker(content, NodeFilter.SHOW_TEXT, {
          acceptNode: node => {
            const p = node.parentElement.tagName.toLowerCase();
            // code, pre 태그 안은 절대 건드리지 않습니다.
            return ['code', 'pre', 'script', 'style'].includes(p) ? 
                   NodeFilter.FILTER_REJECT : NodeFilter.FILTER_ACCEPT;
          }
        });
      
        let node;
        while(node = walker.nextNode()) {
          const originalText = node.nodeValue;
          
          // 1. (--)와 Kramdown이 바꾼 긴 대시(\u2013)를 모두 대응합니다.
          // 2. 혹시나 해서 (---)가 바뀐 더 긴 대시(\u2014)도 추가했습니다.
          const replacedText = originalText
            .replace(/(--|\u2013|\u2014)>/g, '⟶') 
            .replace(/==>/g, '⟹')
            .replace(/>>>/g, '➤'); // C++ cin >> 과 겹치지 않게 >>> 사용
          
          if (originalText !== replacedText) {
            node.nodeValue = replacedText;
          }
        }
      })();
    </script>
   </body>
</html>